# -------------------------------
# Virtual Environment
# -------------------------------
.venv/

# -------------------------------
# Python Version Managers
# -------------------------------
.python-version

# -------------------------------
# Project Config
# -------------------------------
pyproject.toml
main.py

# -------------------------------
# Python Cache / Bytecode
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# IDE / Editor Files
# -------------------------------
.vscode/
.idea/

# -------------------------------
# Logs / Test / Coverage Files
# -------------------------------
*.log
*.coverage
*.tox
*.nox
*.coverage.*
*.hypothesis/

# -------------------------------
# Database / Local Data
# -------------------------------
*.db
*.sqlite
